// SECTION :: START

section#blog.blog
	.c-grid
		.blog__wrapper

			a.blog__back(href="#")
				i.icon-font.icon-corner
				span Назад

			//.blog__img
			//	img(src="img/img-blog.jpg" srcset="img/img-blog@2x.jpg 2x" alt="")

			p.blog__title Энергоинформационное Поле
			p.blog__date 19.02.2020

			.blog__desc
				p Когда в течении многих жизней человек обретает минимальный духовный опыт и умение управлять своим вниманием, доступ в энергоинформационное поле становится для него врожденной способностью. По большой иронии, получить свидетельства и понять, что же это такое, можно только через личный опыт. Современная наука естественно пока отрицает этот феномен, однако первые записи итрактаты разделяют внушительные отрезки времени и континенты. В различных культурах оно известно как Эфир, Атман, Хроники Акаши, Абсолют, а Никола Тесла называл его просто - ядро. В общих чертах оно описывается как невидимое, неуловимое первовещество, объединяющее все вокруг, которое обладает сознанием высшей формы и хранит информацию о всех процессах прошлого, настоящего и будущего.
				p Так как энергоинформационное поле - нечто, что с трудом поддается характеристике, попытки выразить это в словесной форме есть ничто иное, как индивидульное для каждого смещение точки сборки в пространстве и описание того, что для этого человека важно. Как Дао, высказанное словами перестает быть Дао, так и описание инфоля заключенное в слова лишается всяческой гибкости.
				p Визуальный образ Абсолюта может открыться людям пережившим особый экзистенциальный опыт. На очень непродолжительное время человек испытывает максимальный вдвиг рамок восприятия, когда полностью теряет контроль, и не может препятствовать свободному подъему точки сборки. Во время катарсиса или других духовных метаморфоз, полного наркоза, комы, сновидения или приема специальных наркотических веществ(Аяуаска) его взору предстает картина сияющей пустоты. По началу человек не видит ничего, кроме бездонной тьмы, но всматриваясь в нее все отчетливей видит слепящий яркий свет, от которого ему не больно. Пугающе всепоглощающая и одновременно манящая своим почти искрящимся светом, спокойствием и теплотой она кажется невероятно гибкой, но в то же время чрезвычайно плотной. Это не первовещество, как его привычно описывают, а первоэнергия заполняющая все пространство. Вернее она и есть пространство, пронизывающее все, что ей же и было порождено. С этой чистейшей, неуловимой энергии и начинается трансформация с высших планов к материи.
				p Пребывая в наивысшем доступном для человека состоянии бытия, он устраняет пробел между своим мировосприятием и тем, как на самом деле энергетически устроена Вселенная. Наблюдая за миром с вершины, человек испытывает поразительную взаимосвязь на первый взгляд независимых друг от друга вещей. Он чувствует связь между собой и всем, что его окружает: деревьями, камнями, животными и людьми. Исчезают такие понятия как время и расстояние, и он видит, какмельчайшие частицы его тела связаны с атомами звезды на другом конце Вселенной. Эта глобальная паутина дышит и сигналы от удаленных частиц мгновенно доходят друг до друга. Тонкими нитями соединяются его жизнь, эгрегоры в которых он состоит и не пересекающиеся между собой события. Все что раньше воспринималось как хаос и несправедливость, теперь обретает гармонию и закономерность. В итоге гармония и единение вызывают у человека чувство бесконечной, безусловной любви подпитываемой уверенностью, что он только что видел создателя, хотя на самом делевсего лишь прикоснулся к сознанию высшего эгрегора.
				p 2кластер. У любой доступной информации есть свой источник, выступающий как самостоятельный элемент системы. Это может быть предмет, человек, эгрегор - в целом все то, что имеет свое индивидуальное поле. Каждый из них связан с другими элементами энергией, которая несет в себе определенный тип информации.

			//.blog__quote
			//	div
			//		i.icon-font.icon-quotes
			//	div
			//		p Буддизм — чрезвычайно земное учение, не случайно сам Шакьямуни был рождён под весьма «земным» знаком Тельца. Он [буддизм] тесно привязан к земле, и всё здание своей изощрённой психологической доктрины он строит на прочном фундаменте наиболее примитивных и глубоких структур психики человека — структур личностного (а не коллективного!) взаимодействия и сосуществования с деревьями, скалами, источниками, а также с «хозяевами» ландшафта — местными демонами, духами и полубогами

			.blog__desc
				p Это взгляд учёного. С точки зрения оккультных наук (к которым относится и астрология), великое достижение Будды состоит в том, что он познал и объяснил человеку природу желания и печальные последствия навязчивого хотения. Одно из базовых буддийских учений сформулировано в виде Четырёх благородных истин. Их суть сводится к тому, что причиной страданий является желание, а способом преодоления желаний и, соответственно, способом прекращения страданий является Восьмеричный путь. А поскольку Телец среди прочего символизирует «желание во всех его фазах», вполне логично и символично, что Будда именно в Тельце познал и победил желание и пришёл к просветлению.

			.blog__media
				img(src="img/img-paragon-blog.png" alt="")
				//iframe(src="https://www.youtube.com/embed/r7FQxw6RZMM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

			p.blog__subtitle Астрология и интуиция

			.blog__desc
				p В астрологии высшие планеты отвечают за различные проявления интуиции. Интуицией для упрощения объясняют полученные знания, не имеющего явно выраженного источника ощущений. Уран, Нептун и Плутон открывают три двери, через которые у людей появляется способность улавливать вибрации в строго заданных диапазонах.
				p Уран отвечает за получение сухой, не окрашенной ничем информации. Как правило это либо энциклопедические знания, либо ответы на четкие запросы, которые человек посылает в инфополе. Характерным свойством для этого состояния являются мгновенные прозрения или загрузка в мозг огромных блоков информации. Объем полученных знаний и ответов вызывает два типа ощущений. При односложном запросе у человека возникают вспышки в сознании или разряды молнии, после которых приходит озарение или понимание, в каком направлении ему следует двигаться дальше или как лучше поступить. Знаменитое восклицание Архимеда “Эврика” - как явный пример моментального озарения. Во втором случае открывается доступ к данным, которые соответствуют опыту и глубине восприятия человека. Возникает ощущение открытого канала, по которому приходят знания или понимание фундаментальных вещей. За короткий промежуток времени индивид в состоянии получить информации на несколько книг или томов, но как правило она приходит в хаотичном виде. Фигурально выражаясь это коробка с паззлами на 10 000 элементов, на фронтальной стороне которой инструкция, где написано какие знания мы закрепим на интуитивном уровне, если нам удасться его собрать. Камнем преткновения здесь является духовный уровень и интеллект человека. Во-первых человек должен осознавать что с ним происходит, в противном случае он начнет заглушать сигналы употреблением веществ и думать что с ним происходит что то неладное. Во-вторых интеллект человека может попросту не вытягивать уровень этих знаний либо неспособен поддать их сортировке в принципе. Уран по праву можно назвать лучшим другом первооткрывателей. Классическим его проявлением есть ученый, который после долгого пребывания в инфополе получает стойкий каркас знаний(паззлы, которые ему высыпали в голову) и тратит коллосальное количество ментальной энергии на его обработку. Для того, чтобы найти проявления увиденного во внешнем мире, такие люди обзаводятся большим количеством всевозможных хобби и второстепенных профессий, чтобы иметь возможность качественно доказать свои теории. Большинство из них посвящают этому всю свою жизнь. Высшей октавой уранического выхода в инфополе есть непосредственная работа в нем, а именно канал который не встречает сопротивления разума. Примером может послужить Никола Тесла, который говорил, что ему ненужны лаборатории - все опыты он проводил в голове.
				p!= "Ключевое слово: <strong>ученый.</strong>"
				p Нептун оперирует символами и подсказками. Он никогда не говорит напрямую, предлагая человеку сделать выводы самостоятельно. На базовом уровне дает подсказки в виде слабых эмоциональных реакций, в следствии воздействия окружающей среды на поле человека. Помогает выбрать правильный из нескольких доступных вариантов, либо укажет на единственный неверный. К этому относится покупка вещей и элементов одежды, выбор окружения, места отдыха и работы, либо один путь на жизненной развилке. На высоком уровне позволяет интерпретировать знаки судьбы и работать с символикой. Порой человек становится свидетелем или участником уникального события, после которого у него в голове мгновенно возникает отсылка к чему-то важному для него. Если вопреки логике это событие ествественным образом расшифровывает второе, и у человека учащается дыхание и пульс - поработал Нептун. В обязательном порядке облегчает трактовку сновидений и гадательных систем(карты, руны).
				p Нептун является старшим управителем знака Рыб, известным своей мечтательностью и склонностью строить воздушные замки. В его природе раскалывать текущий поток событий и показывать все возможные ответвления. Что касается Рыб, то их иллюзии это пока нереализованные моменты будущего. Они склонны проживать несколько реальностей одновременно, что без сильного ментала и воли приводит к рокировке жизни и Мира грёз.
				p Человек природно получает доступ к этой части инфополя во время сновидений. Когда его что-то волнует, переживание становится бессознательным. Во время сна точка сборки автоматически переносит человека в ту часть пространства, где находятся все возможные варианты развития событий. Однако, если им движет конкретная эмоция, то она как фильтр будет притягивать лишь те варианты, в которых она присутствует. Страх притягивает кошмары и разочарования, сильные желания притягивают наслаждения, а стремление найти ответ - его решение. По этой причине большинство наших проблем решаются на утро. В редких случаях через яркие, символические сновидения высшие силы предупреждают о грядущей опасности и намекают как ее избежать.
				p!= "Ключевое слово: <strong>медиум.</strong>"
				p Плутон всегда оставляет привкус фатальности, и в отличии от туманящего голову Нептуна, показывает причинно-следственные временные фрагменты. Иными словами, получая доступ к индивидуальному инфополю или коллективному бессознательному, человек видит события прошлого, настоящего и будущего. Эхом к этой информации идет само-собой возникшее знание о причинах этого события, дальнейшем развитии ситуации и какой урок человек или массы должны из этого извлечь. На начальном уровне дает чтение судьбоносных событий в жизни людей, а на более высоком - способность к пророчеству. Такое проявление Плутона оказывает сильнейшее давление на психику, особенно у детей и подростков со способностями. Они могут видеть неприятные, а порой ужасающие вещи о своих родных или близком окружении, что со временем, без соответствующей помощи, выльется в убеждение собственной дефектности. У совсем маленьких детей активный Плутон способствует воспоминаниям о прошлых жизнях. Взрослого человека это может вогнать в отчаяние: с одной стороны держать в себе эту информацию невыносимо, с другой - рассказать, вмешаться в судьбу другого и взять его карму на себя ему совсем не хочется. Задача: найти адекватное применение своим способностям и научиться ловко давать информационный аванс. У обычного человека транзиты по натальному Плутону на ограниченный период сильно повышают чувствительность. В голове с большой вероятностью могут всплывать моменты триумфа или неудач будущего, образы себя старого или мелкие сюжеты личной жизни.
				p!= "Ключевое слово: <strong>экстрасенс.</strong>"
				p Каждую планету в отдельности можно сравнить с ингридиентом. В зависимости от личных предпочтений шеф-повара, он может как добавить ингридиент в блюдо, так и нет, играть с пропорциями и смешивать их друг с другом уникальным образом, создав в итоге совершенно неповторимый вкус. Человек, как результат этой алхимии, может как не иметь выраженных способностей, так и обладать несколькими сразу. Например, Уран в чистом виде дает яснопонимание, Нептун - ясночувствование, а Плутон - яснознание. Улавливаемая информация трансформируется в наиболее комфортный и понятный для человека сигнал из органов чувств, что индивидуально для каждого выражается как ясновидение, яснослышание, яснообоняние или ясновкусие. Из этого следует, что есть громадное количество возможных комбинаций. Например, Уран с Нептуном могут дать сильного эзотерика или передового научного работника, а Нептун с Плутоном - отличного психолога или духовного учителя. Большинству же, это в лучшем случае приходит всего несколько раз за жизнь. Но что им делать с этими знаниями, это уже совсем другой вопрос.

			.blog__media
				iframe(src="//coub.com/embed/2hc538?muted=false&autostart=false&originalSize=false&startWithHD=false" allowfullscreen frameborder="0" allow="autoplay")

			ul
				li
					div
						i
					div
						p!= "Иллюстрация: <a href='#'>shakyamuni-buddha.jpg</a>"
				li
					div
						i
					div
						p!= "Видео: <a href='#'>youtube.com 1.</a>"

			ol
				li
					div
						i 1.
					div
						p Поповцев Д.В. Бодхисаттва Авалокитешвара. История формирования и развития махаянского культа. — СПб.: Евразия, 2012. — С.26-27.
				li
					div
						i 2.
					div
						p Бейли А. Эзотерическая астрология. – Навна-3, 2002. – С.172, 303, 304.
				li
					div
						i 3.
					div
						p 3. Бейли А. Трактат о белой магии, или Путь ученика. — М., 2005. — С.255

			.blog__divider

			.details__pagination
				.details__pagination-left
					a.details__pagination-btn.details__pagination-btn--prev(href="#")
						i.icon-font.icon-corner
						span Предыдущая запись

				.details__pagination-middle

					.social
						a(href="#")
							i.icon-font.icon-facebook
						a(href="#")
							i.icon-font.icon-twitter

				.details__pagination-right
					a.details__pagination-btn.details__pagination-btn--next(href="#")
						span Следующая запись
						i.icon-font.icon-corner

// SECTION :: END
